@import '../../colores.scss';

.card-title{
    span{
        text-decoration: underline;
    }
}

.card-header{
    border-radius: 0;
    color:white;
    label{
        margin: 0;

        i{
            cursor: pointer;
            &:hover{
                color: $color-rojo2-logo;
            }
        }
    }
}

.header__card{
    .card-block{
        padding: 0.5rem;
        color:white;
    }
}

.text__card{
    .card-block{
        padding: 0.7rem;
        .card-title{
            margin-bottom: 0.4rem;
        }
    }
}

.card{
    border-radius: 0;
}

.card:last-child{
    border-bottom-right-radius: 0.25rem;
}