@import '../../colores.scss';


$leftside-size: 24em;

@keyframes blink-color-w-y {
    from {color: white;}
    to {color: $color-amarillo-logo;}
}

#github__link{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 2.1em;

    a{
        color:white;
        cursor:pointer;
        &:hover{
            color:$color-rojo2-logo;
        }
    }

    
}

.text-med{
    color: $color-rojo2-logo !important;
}
.text-hard{
    color: $color-amarillo-logo !important;
}

.texts__wrapper{
    width: calc(100vw - $leftside-size);
    height: 100vh;
    background-image: linear-gradient(0deg, #00172a, #00335d 72%);

    span{
        position: absolute;
    }
}

.fix__left{
    position: fixed;
    width: $leftside-size;
    left: 0;
    top: 0; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom__right{ //input-box
        color:white;
        background: white;
        border-top-right-radius: 0.25rem;
        
        height: 15%;

        .card-header{
            border-top-right-radius: 0.25rem;

            label{
                margin:0;
            }
        }
    }

    .bottom__left{
        color:black;
        right: left;
        background: white;
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;


        height: 30px;
        flex-grow: 1;

        .card-header{
            color:white;
            box-shadow: 0px 9px 73px -9px rgba(0,0,0,0.42);

            label{
                margin: 0;
            }
        }
        .live-text__wrapper{
            overflow: hidden;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 0;
            .live-text__item{
                padding: 0.5rem;
                .live-text__user{
                    font-weight: bold;
                }
                .live-text{
                    text-decoration: underline;
                }
            }
        }
    }
}

.temp_bottom__right{
    position: fixed;
    width: 27em;
    color:white;
    bottom: 0;
    right: 0;
    background: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    
    height: 10rem;

    .card-header{
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        label{
            margin:0;
        }
    }
}

.temp_bottom__left{
    position: fixed;
    width: 27em;
    color:black;
    bottom: 0;
    right: left;
    background: white;
    border-top-right-radius: 0.25rem;
    
    height: 10rem;

    .card-header{
        color:white;
        border-top-right-radius: 0.25rem;
        box-shadow: 0px 9px 73px -9px rgba(0,0,0,0.42);
        margin-bottom: 0.3em;
    }
    .live-text__wrapper{
        overflow: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: -1;
        .live-text__item{
            padding: 0.5rem;
            .live-text__user{
                font-weight: bold;
            }
            .live-text{
                text-decoration: underline;
            }
        }
    }
}

.top__right{
    position: fixed;
    width: 17em;
    top: 0;
    right: 25px;
}

.bottom__middle{
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 27rem;
}

.blink-color-white-yellow{
    border-color: $color-azul-logo;
    animation-name: blink-color-w-y;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

img{
    width: 589px;
    height: 389px;
    z-index: 3000;
    
    display: block;
    position: absolute;
    top: 0;left: $leftside-size;bottom: 0; right: 0;
    margin: auto;
}