$color-std: #00FF2B;
$color-med: #FF7A00;
$color-hard: #FF1300;

$color-amarillo-logo: #ebc11f;
$color-azul-logo: #0e629d;
$color-rojo-logo: #8e261c;
$color-rojo2-logo: #cd6a49;
$color-borde-logo: #5f5e61;